Dsl/GeneratedCode/RDMDCM_ProyectoIPSSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema id="RDMDCM_ProyectoIPSSchema" targetNamespace="http://schemas.microsoft.com/dsltools/RDMDCM_ProyectoIPS" elementFormDefault="qualified" xmlns="http://schemas.microsoft.com/dsltools/RDMDCM_ProyectoIPS" xmlns:core="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import id="CoreSchema" namespace="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" />
  <!-- Tapiz -->
  <xsd:element name="tapiz" type="Tapiz" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Tapiz">
    <xsd:annotation>
      <xsd:documentation>The root in which all other elements are embedded. Appears as a diagram.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: TapizHasVentanas -->
          <xsd:element name="ventanas" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of TapizHasVentanas</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="tapizHasVentanas" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of TapizHasVentanas needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: TapizHasEstadoFinned -->
          <xsd:element name="estadoFinned" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of TapizHasEstadoFinned</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="tapizHasEstadoFinned" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of TapizHasEstadoFinned needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- dslVersion -->
        <xsd:attribute name="dslVersion" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Version of the model serialized in this file.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: solucionDiagrama -->
        <xsd:attribute name="solucionDiagrama" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Tapiz Moniker -->
  <xsd:element name="tapizMoniker" type="TapizMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="TapizMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Tapiz instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Ventana -->
  <xsd:element name="ventana" abstract="true" type="Ventana" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Ventana" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: VentanaHasMenus -->
          <xsd:element name="menus" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of VentanaHasMenus</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="ventanaHasMenus" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of VentanaHasMenus needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: VentanaHasBotons -->
          <xsd:element name="botons" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of VentanaHasBotons</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="ventanaHasBotons" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of VentanaHasBotons needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: nombre -->
        <xsd:attribute name="nombre" type="xsd:string" />
        <!-- Property: ancho -->
        <xsd:attribute name="ancho" type="xsd:integer" />
        <!-- Property: alto -->
        <xsd:attribute name="alto" type="xsd:integer" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Ventana Moniker -->
  <xsd:element name="ventanaMoniker" abstract="true" type="VentanaMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="VentanaMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Ventana instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- VentanaSecundaria -->
  <xsd:element name="ventanaSecundaria" final="#all" type="VentanaSecundaria" substitutionGroup="ventana" />
  <xsd:complexType name="VentanaSecundaria" final="#all">
    <xsd:complexContent>
      <xsd:extension base="Ventana">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: modal -->
        <xsd:attribute name="modal" type="xsd:boolean" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- VentanaSecundaria Moniker -->
  <xsd:element name="ventanaSecundariaMoniker" final="#all" type="VentanaSecundariaMoniker" substitutionGroup="ventanaMoniker" />
  <xsd:complexType name="VentanaSecundariaMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for VentanaSecundaria instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="VentanaMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Boton -->
  <xsd:element name="boton" type="Boton" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Boton">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: BotonReferencesVentana -->
          <xsd:element name="ventanaReferenciada" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of BotonReferencesVentana</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="botonReferencesVentana" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of BotonReferencesVentana needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: BotonReferencesEstadoFin -->
          <xsd:element name="estadoFin" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of BotonReferencesEstadoFin</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="botonReferencesEstadoFin" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of BotonReferencesEstadoFin needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: nombre -->
        <xsd:attribute name="nombre" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Boton Moniker -->
  <xsd:element name="botonMoniker" type="BotonMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="BotonMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Boton instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Menu -->
  <xsd:element name="menu" type="Menu" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Menu">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: MenuHasItemMenus -->
          <xsd:element name="itemMenus" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of MenuHasItemMenus</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="menuHasItemMenus" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of MenuHasItemMenus needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: nombre -->
        <xsd:attribute name="nombre" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Menu Moniker -->
  <xsd:element name="menuMoniker" type="MenuMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="MenuMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Menu instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ItemMenu -->
  <xsd:element name="itemMenu" type="ItemMenu" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ItemMenu">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ItemMenuReferencesVentana -->
          <xsd:element name="ventana" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of ItemMenuReferencesVentana</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="itemMenuReferencesVentana" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ItemMenuReferencesVentana needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ItemMenuReferencesEstadoFin -->
          <xsd:element name="estadoFin" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of ItemMenuReferencesEstadoFin</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="itemMenuReferencesEstadoFin" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ItemMenuReferencesEstadoFin needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: nombre -->
        <xsd:attribute name="nombre" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ItemMenu Moniker -->
  <xsd:element name="itemMenuMoniker" type="ItemMenuMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ItemMenuMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ItemMenu instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EstadoFin -->
  <xsd:element name="estadoFin" type="EstadoFin" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EstadoFin">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: nombre -->
        <xsd:attribute name="nombre" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EstadoFin Moniker -->
  <xsd:element name="estadoFinMoniker" type="EstadoFinMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EstadoFinMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EstadoFin instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- VentanaPrincipal -->
  <xsd:element name="ventanaPrincipal" final="#all" type="VentanaPrincipal" substitutionGroup="ventana" />
  <xsd:complexType name="VentanaPrincipal" final="#all">
    <xsd:complexContent>
      <xsd:extension base="Ventana">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- VentanaPrincipal Moniker -->
  <xsd:element name="ventanaPrincipalMoniker" final="#all" type="VentanaPrincipalMoniker" substitutionGroup="ventanaMoniker" />
  <xsd:complexType name="VentanaPrincipalMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for VentanaPrincipal instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="VentanaMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TapizHasVentanas -->
  <xsd:element name="tapizHasVentanas" type="TapizHasVentanas" substitutionGroup="core:modelElement" />
  <xsd:complexType name="TapizHasVentanas">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Ventana -->
          <xsd:element ref="ventana" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TapizHasVentanas Moniker -->
  <xsd:element name="tapizHasVentanasMoniker" type="TapizHasVentanasMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="TapizHasVentanasMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for TapizHasVentanas instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- VentanaHasMenus -->
  <xsd:element name="ventanaHasMenus" type="VentanaHasMenus" substitutionGroup="core:modelElement" />
  <xsd:complexType name="VentanaHasMenus">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Menu -->
          <xsd:element ref="menu" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- VentanaHasMenus Moniker -->
  <xsd:element name="ventanaHasMenusMoniker" type="VentanaHasMenusMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="VentanaHasMenusMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for VentanaHasMenus instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MenuHasItemMenus -->
  <xsd:element name="menuHasItemMenus" type="MenuHasItemMenus" substitutionGroup="core:modelElement" />
  <xsd:complexType name="MenuHasItemMenus">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end ItemMenu -->
          <xsd:element ref="itemMenu" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- MenuHasItemMenus Moniker -->
  <xsd:element name="menuHasItemMenusMoniker" type="MenuHasItemMenusMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="MenuHasItemMenusMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for MenuHasItemMenus instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- VentanaHasBotons -->
  <xsd:element name="ventanaHasBotons" type="VentanaHasBotons" substitutionGroup="core:modelElement" />
  <xsd:complexType name="VentanaHasBotons">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Boton -->
          <xsd:element ref="boton" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- VentanaHasBotons Moniker -->
  <xsd:element name="ventanaHasBotonsMoniker" type="VentanaHasBotonsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="VentanaHasBotonsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for VentanaHasBotons instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TapizHasEstadoFinned -->
  <xsd:element name="tapizHasEstadoFinned" type="TapizHasEstadoFinned" substitutionGroup="core:modelElement" />
  <xsd:complexType name="TapizHasEstadoFinned">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end EstadoFin -->
          <xsd:element ref="estadoFin" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TapizHasEstadoFinned Moniker -->
  <xsd:element name="tapizHasEstadoFinnedMoniker" type="TapizHasEstadoFinnedMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="TapizHasEstadoFinnedMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for TapizHasEstadoFinned instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ItemMenuReferencesVentana -->
  <xsd:element name="itemMenuReferencesVentana" type="ItemMenuReferencesVentana" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ItemMenuReferencesVentana">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Ventana -->
          <xsd:element ref="ventanaMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ItemMenuReferencesVentana Moniker -->
  <xsd:element name="itemMenuReferencesVentanaMoniker" type="ItemMenuReferencesVentanaMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ItemMenuReferencesVentanaMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ItemMenuReferencesVentana instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- BotonReferencesVentana -->
  <xsd:element name="botonReferencesVentana" type="BotonReferencesVentana" substitutionGroup="core:modelElement" />
  <xsd:complexType name="BotonReferencesVentana">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Ventana -->
          <xsd:element ref="ventanaMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- BotonReferencesVentana Moniker -->
  <xsd:element name="botonReferencesVentanaMoniker" type="BotonReferencesVentanaMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="BotonReferencesVentanaMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for BotonReferencesVentana instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ItemMenuReferencesEstadoFin -->
  <xsd:element name="itemMenuReferencesEstadoFin" type="ItemMenuReferencesEstadoFin" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ItemMenuReferencesEstadoFin">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end EstadoFin -->
          <xsd:element ref="estadoFinMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ItemMenuReferencesEstadoFin Moniker -->
  <xsd:element name="itemMenuReferencesEstadoFinMoniker" type="ItemMenuReferencesEstadoFinMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ItemMenuReferencesEstadoFinMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ItemMenuReferencesEstadoFin instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- BotonReferencesEstadoFin -->
  <xsd:element name="botonReferencesEstadoFin" type="BotonReferencesEstadoFin" substitutionGroup="core:modelElement" />
  <xsd:complexType name="BotonReferencesEstadoFin">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end EstadoFin -->
          <xsd:element ref="estadoFinMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- BotonReferencesEstadoFin Moniker -->
  <xsd:element name="botonReferencesEstadoFinMoniker" type="BotonReferencesEstadoFinMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="BotonReferencesEstadoFinMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for BotonReferencesEstadoFin instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
</xsd:schema>

